<div class="center_content">
    <div class="center_title_bar">{{title}}</div>
    <div class="prod_box_big">
        <div class="center_prod_box_big">
            <div class="event_img_big">
                <img src="{{elements/image}}">
            </div>

            <div class="details_big_box">
                <div class="title_big">{{title}}</div>
                <div class="event_main"><br />
                    Start Time: <span class="blue">{{elements/start-time}}</span><br />
                    Start Date: <span class="blue">{{elements/start-date}}</span><br />
                    End Time: <span class="blue">{{elements/end-time}}</span><br />
                    End Date: <span class="blue">{{elements/end-date}}</span><br />
                    Description :<span class="blue"> {{description}}</span><br />
                </div>
                <a href="{{elements/link}}" class="event_link">Event</a></div>
        </div>
    </div>
</div>